debug_log.txt
.DS_store
src/venv/
src/__pycache__/
src/.DS_store

jobs/*
!jobs/.gitkeep

job_dependencies/*
!job_dependencies/.gitkeep

errors/*
!errors/.gitkeep

output/*
!output/.gitkeep

scratch/*
!scratch/.gitkeep
